@charset "UTF-8";@media screen and (min-width:1421px){}
@media screen and (min-width:1025px){footer{position:fixed;bottom:0em;z-index:1000;}
}
@media screen and (max-width:1024px){nav{max-width:800px;}
.wrapper{max-width:800px;}
#wrapper_projectindex{max-width:810px;}
header{position:absolute;top:51px;}
section{top:9em;}
#profile_image{padding-bottom:45px;}
.no_mobile{display:none;}
.mobile{display:inline;}
#secondary_project_image ul li:first-child{margin-left:0px;}
footer{height:5em;padding:2px 0px 11px 0px;}
#contact{margin-bottom:10em;padding-bottom:0em;}
#contact_left{width:35%;}
#contact_middle, #contact_right{width:15%;}
.copyright{width:100%;margin-bottom:.5em;line-height:16px;}
.portfolioresume{float:left;width:100%;margin-top:.5em;}
#about_page_text{width:100%;}
#mc_embed_signup .mc-field-group{width:98%;}
}
@media screen and (max-width:768px){#main_project_information, .contact_project_information{position:relative;width:100%;margin-top:0em;top:0em;}
#mc_embed_signup input.email, #mc_embed_signup input.name{width:100%;}
.flexslider{margin-left:0px;float:none;width:100%;margin-bottom:15px;}
#main_project_image, #contact_form{margin-left:0px;float:none;width:100%;margin-bottom:15px;}
#main_project_information{float:none;}
#secondary_project_image{margin-left:0px;margin-top:1.25em;text-align:left;float:none;width:100%;}
#secondary_project_image ul li:first-child{margin-left:0px;}
#contact_left{width:35%;line-height:18px;}
#contact_middle, #contact_right{width:15%;}
#contact_form{margin-bottom:0px;}
footer{height:7em;}
}
@media screen and (max-width:680px){nav{max-width:400px;}
.wrapper{max-width:400px;}
#wrapper_projectindex{max-width:410px;}
#profile_image{width:50px;padding-bottom:10px;}
#ps_about_icon{width:50px;height:50px;}
#contact_left{width:100%;}
#contact_middle{display:none;}
#contact_right{display:none;}
#contact_left ul{border-right:none;}
.contact_title h4{width:100%;}
#main_project_title, .contact_title{}
.main_project_arrow_left{margin:0em .75em 0em 0em;}
.main_project_arrow_right{margin:0em 0em 0em .75em;}
#icon_font{display:inline;}
#ps_header{float:none;margin:0 auto;}
}
@media screen and (max-width:480px){#contact_left{width:100%;}
footer{height:9em;}
}
@media screen and (max-width:320px){}
@media screen and (max-width:240px){}