/*
Well hello there! Thanks for taking a look around. If you are curious about the SCSS document feeding this main.css, just swap out the suffix in your browser's address bar.
*/

// =======================================================================
// CSS by Seth Akkerman
// Hugely inspired by the organizational skills of Elliot Jay Stocks
// Last updated: 07/02/2016
// =======================================================================
// Contents:
// 01 Meyer Reset
// 02 SASS Mixins
// 03 SASS Variables
// 04 Typography
//	- Rendering
//	- Families
//	- Headings
//	- Links
//	- Paragraphs, Lists, Other
// 05 Basic Layout
// =======================================================================

// =========================
//	01 Meyer Reset
// =========================

@import "meyer-reset.scss";

// =========================
//	02 SASS Mixins
// =========================

@mixin link-hover-transition {
	-webkit-transition: all .15s ease-in-out;
  	-moz-transition: all .15s ease-in-out;
  	-o-transition: all .15s ease-in-out;
  	transition: all .15s ease-in-out; 
}

// =========================
//	03 SASS Variables
// =========================

$width-medium: 50em; /* 800px / 16 = 50em */
$width-small: 20em; /* 320px / 16 = 20em */

$background-color: rgba(40,40,40,1.0);
$border-color: rgba(33,33,33,1.0);

$font-sans: "Open Sans","Helvetica Neue",Helvetica,sans-serif;
$main-type-color: rgba(158,158,158,1.0);
$darker-type-color: rgba(86,86,86,1.0);
$main-link-color: rgba(100,151,82,100);

// =========================
//	04 Typography
// =========================

/* There seems to be a bug rendering fonts in mozilla on macs. The moz-osx css line fixed the visual issue. This may only be necessary when there is only one font served from typekit and the weights are specified by numerical values. */
html { 
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body { 
	font:400 100%/1.5 $font-sans;
	color:$main-type-color;
	text-rendering:optimizeLegibility;
}

h1, h2, h3, h4 {
	color: rgba(158,158,158,1.0);
	margin-bottom:15px;	
	@media screen and (min-width: $width-medium) { 
        margin-bottom:43px;
	}
}

h1 {
	font-size:137.5%; /*22 px*/
	line-height:1.36; /*30 px*/	
	max-width:30em;
}

p, ul {
	font-size:100%;
	margin-bottom:1em;
	.experiment-number { color: $darker-type-color; letter-spacing: 2px; font-size: 87.5%; margin-bottom:4px; }
	.experiment-keywords { color: $darker-type-color; font-size: 87.5%; text-transform:uppercase; letter-spacing:1.5px; margin-bottom:0em;  }
	a {
		text-decoration:none;
		/*html.no-touch &:hover {
			color:rgba(255,255,255,1.0);	
		}*/	
	}
}

footer {
	p { color: $darker-type-color; font-size: 87.5%; }
	a {
		color:$main-link-color;
		@include link-hover-transition;
	 	&:hover {
			color:rgba(255,255,255,1.0);	
		}
	}
}

// =========================
//	05 Basic Layout
// =========================

* { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
/* Apply a natural box layout model to all elements see http://paulirish.com/2012/box-sizing-border-box-ftw */

div,
article,
section,
header,
footer,
nav,
figure,
li { position:relative; }
/* For absolutely positioning elements within containers  */

html {
	background: $background-color;
}

body { padding:0; margin:0; width:100%; height:100%; }

header, footer { width:100%; padding:27px 20px; margin:0;
	@media screen and (min-width: $width-medium) {
		margin-top:22px;
		padding:49px 20px;
	}
}

img { width:100%; height:auto; display:block;
	&.logo { 
		width:183px;
		@media screen and (min-width: $width-medium) { 

		}
	}
}
/* img { display:block; } This is to get rid of the weird, tiny 4px white space between the images horizontally */

.outer-wrapper {
	width:100%;
	max-width:$width-medium;
	min-width:$width-small;
	text-align:left;
	margin:0 auto;
	@media screen and (min-width: $width-small) {
		
	}
	@media screen and (min-width: $width-medium) { 
	}
}

.main-content {  }

.question {
	border-top: 1px solid $border-color;
	cursor:pointer;
	&:last-child { border-bottom: 1px solid $border-color;}
	a {
		display:block;
		overflow:hidden;	
		padding:34px 20px;
		@include link-hover-transition;
		&:hover {
		background-color: lighten($background-color, 2);
		}
	}
	@media screen and (min-width: $width-medium) { 
	
	}
}


/*.project-wrapper { 
	margin:2em 0; 
	cursor:pointer;
	text-align:left;
	-webkit-transition: all .15s ease-in-out;
  	-moz-transition: all .15s ease-in-out;
  	-o-transition: all .15s ease-in-out;
  	transition: all .15s ease-in-out;
	&:before { 
		content:'';
		background-color:rgba(20,20,20,0.875);
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height: 100%; 						
		-webkit-transition: all .15s ease-in-out;
  		-moz-transition: all .15s ease-in-out;
  		-o-transition: all .15s ease-in-out;
  		transition: all .15s ease-in-out;
	}
	&:last-child { margin-bottom:0; }
}
.light-image {
	&:before {
		background-color:rgba(20,20,20,0.96);
	}
}*/

/*.experiment-info { 
	position:absolute;
	top:0;
	left:0;
	padding:1.25em;
	-webkit-transition: all .15s ease-in-out;
  	-moz-transition: all .15s ease-in-out;
  	-o-transition: all .15s ease-in-out;
  	transition: all .15s ease-in-out;
	p { padding:0; color:rgba(200,200,200,1.0);
		&.experiment-question { color:rgba(100,100,100,1.0); }
	}
	@media screen and (min-width: $width-small) { 
		padding: 2em;
	}
	@media screen and (min-width: $width-medium) { 
		padding: 3em;
	}
}*/

/*.experiment-number {
font-family: OpenSans, sans-serif;
font-size: 14px;
color: #565656;
letter-spacing: 1px;
line-height: 19px; }
.experiment-title { font-size: 200%; font-weight:700; line-height:1.2; margin-top:0.25em; 
	@media screen and (min-width: $width-medium) {
		font-size: 275%; 
	}
}*/
/*.experiment-question { 
	display:none;
	font-size:130%;
	margin-top:1.25em;
	line-height:1.6;
	@media screen and (min-width: $width-small) {
		display:block;
	}
	@media screen and (min-width: $width-medium) {
		font-size:200%;
		margin-top:2.5em;
		line-height:1.6;
	}
}*/

/*html.no-touch {
	.project-wrapper {
		&:hover {
			.experiment-info { opacity:0; }
			&:before { background-color:rgba(20,20,20,0.0); } 
		}
	}
}*/

